---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex flex-col gap-4 justify-center items-center min-h-screen">
			<div class="card bg-base-300 w-80 shadow-xl">
				<figure class="px-10 pt-10">
				  <img
					src="/assets/bioinformatics_6283247.png"
					alt="Bioinformatics"
					class="rounded-xl" />
				</figure>
				<div class="card-body items-end pt-0">
					<a href="https://www.freepik.com/icon/bioinformatics_6283247" class="text-xs link link-info">Icon by Parzival’ 1997</a>
				</div>
			</div>
			<div class="card bg-base-300 text-primary w-80 shadow-xl italic">
				<div class="card-body items-end">
					<div class="card-title text-sm font-bold">José Antonio López</div>
					<div class="text-xs">Técnico Especialista de Laboratorio</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
